body
{
    background-image: url("racunalo.jpg");
    /*ovo mi služi za poravnanje slike gore-desno i da se ne ponavlja*/
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    /*background-color ovo mi služi za promjenu boje pozadine*/
}
p
{ 
    font-family:Verdana,Helvetica,sans-serif;
    font-size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 11px;
    border: 1px solid #000;
    background-color: #ffffcc;
}
